//generals
body * {
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
	padding:0;
	font-smooth: always;
}
ul li {
	list-style:none;
	position:relative;
}
a:hover,
a:focus,
a:active,
a:visited{
	text-decoration:none;
}
img{
	max-width: 100%;
}

//texts
.title-01{
	font-size:36px;
}
.title-02{
	font-size:24px;
}
.title-03{
	font-size:22px;
}
.subtitle{
	font-size:18px;
}
.text{
	font-size:16px;
}
.text-small{
	font-size:14px
}
.font-light{
	font-weight:300;
}
.font-regular{
	font-weight:400;
}
.font-bold{
	font-weight:600;
}

//borders
.border-solid{
	border:$border-dark-grey;
}
.border-left-solid{
	border-left:$border-dark-grey;
}
.border-bottom-solid{
	border-bottom:$border-dark-grey;
}
.border-right-solid{
	border-right:$border-dark-grey;
}
.border-top-solid{
	border-top:$border-dark-grey;
}

//Backgrounds
.bg-dark-purple {
	background-color:$dark-purple;
}
.bg-light-purple {
	background-color:$light-purple;
}
.bg-dark-blue {
	background-color:$dark-blue;
}
.bg-light-blue {
	background-color:$light-blue;
}
.bg-dark-green {
	background-color:$dark-green;
}
.bg-light-green {
	background-color:$light-green;
}
.bg-dark-orange {
	background-color:$dark-orange;
}
.bg-light-orange {
	background-color:$light-orange;
}
.bg-dark-black {
	background-color:$dark-black;
}
.bg-light-black {
	background-color:$light-black;
}
.bg-white {
	background-color:$white;
}
.bg-grey {
	background-color:$grey;
}
.bg-dark-grey {
	background-color:$dark-grey;
}

//Colors
.color-dark-purple {
	color:$dark-purple;
}
.color-light-purple {
	color:$light-purple;
}
.color-dark-blue {
	color:$dark-blue;
}
.color-light-blue {
	color:$light-blue;
}
.color-dark-green {
	color:$dark-green;
}
.color-light-green {
	color:$light-green;
}
.color-dark-orange {
	color:$dark-orange;
}
.color-light-orange {
	color:$light-orange;
}
.color-dark-black {
	color:$dark-black;
}
.color-light-black {
	color:$light-black;
}
.color-white {
	color:$white;
}
.color-grey {
	color:$grey;
}
.color-dark-grey {
	color:$dark-grey;
}