//colors
$dark-purple: #373974;
$light-purple: #5f6190;

$light-blue: #7c91be;
$dark-blue: #5b75ae;

$light-green: #8fd859;
$dark-green: #73ce30;

$light-orange: #ffa633;
$dark-orange: #ff9000;

$light-black: #595959;
$dark-black: #2f2f2f;

$white: #fff;
$grey: #f0f0f0;
$dark-grey: #bfbfbf;

//borders
$border-dark-grey: solid 1px #bfbfbf;
$border-dark-purple: solid 1px #373974;
$border-dark-purple: solid 1px #373974;